.blog {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

/* .blog > p {
  margin-bottom: 20px;
} */

.posts {
  margin-bottom: 40px;
}

.blog-post {
  background-color: #cbac95;
  box-shadow: #222;
}

.blog-post,
.blog-post img {
  border: 1px transparent;
  border-radius: 12px;
}

.blog-post-info {
  padding: 20px 20px 30px 20px;
}

.btn-next-page {
  align-self: flex-end;
}

@media (max-width: 739px) {
  .blog-post {
    margin-bottom: 30px;
  }

  .posts {
    margin-bottom: 25px;
  }
}
