/* .contact-info {
  font-size: 18px;
}

.contact-info a {
  display: flex;
  margin-top: 7px;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info a img {
  align-self: center;
  margin-left: 10px;
}

.contact-social {
  display: flex;
  flex-direction: column;
}

.contact-social h3 {
  margin-top: 20px;
} */
