.intro h1,
.intro img {
  align-self: center;
}

.intro h1 {
  text-align: center;
}

/* ABOUT */

.about {
  margin-top: 0px;
  background: url(../assets/background/curves.svg) no-repeat center center;
  padding: 160px 0;
  margin-bottom: 60px;
}

.about img {
  max-width: 375px;
  max-height: 375px;
  align-self: center;
}

.about-content {
  justify-content: right;
  margin-left: 100px;
  flex-direction: column;
}

.about-content p {
  margin-bottom: 20px;
}

/* PSICO */

.psico {
  margin-bottom: 60px;
}

.psico-content {
  flex-direction: column;
}

.psico-content p {
  padding-right: 70px;
  margin-bottom: 20px;
}

/* BLOG */

.blog {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.blog > p {
  margin-bottom: 20px;
}

.posts {
  margin-bottom: 45px;
}

.blog-post {
  background-color: #cbac95;
  box-shadow: #222;
}

.blog-post,
.blog-post img {
  border: 1px transparent;
  border-radius: 12px;
}

.blog-post-info {
  padding: 20px;
}

.blog-post-info p {
  font-size: 12px;
  margin-top: 10px;
}
