/* .assumption {
  align-items: center;
}

@media (max-width: 739px) {
  .assumption.bg-curves {
    padding-top: 60px;
    margin-bottom: 0;
  }
}

.assumption h2 {
  text-align: center;
  margin-bottom: 40px;
}

.assumption-item,
.assumption-item img {
  text-align: center;
  margin: 0 auto;
}

.assumption-item img {
  margin-bottom: 20px;
}

.assumption-item h3 {
  margin-bottom: 10px;
}

@media (max-width: 739px) {
  .flex-item.assumption-item {
    margin-bottom: 30px;
  }
  .practice img {
    display: none;
  }
} */
