/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

/* DEFAULT */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  background-color: #f8f7f2;
  font-family: "Poppins", sans-serif;
  color: #222;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media (max-width: 739px) {
  h1,
  h2 {
    text-align: center;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

section.container,
section.bg-curves,
.intro,
.intro-page {
  margin-bottom: 60px;
}

.publication hr {
  border: 0.5px solid #cbac95;
  margin-bottom: 20px;
}

.publication:last-child hr:last-child {
  margin-bottom: 0px;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 300px;
  }

  .flex-item {
    flex: 0;
    margin: 0px;
  }
}

.flex-item {
  flex: 1;
  margin: 0 10px;
}

.btn {
  align-self: center;
  text-align: center;
  border: 1px solid #c35e1e;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  background-color: #c35e1e;
  padding: 15px;
  font-size: 18px;
  color: #f8f7f2;
}

.profile-photo {
  max-width: 375px;
  max-height: 375px;
  align-self: center;
}

@media (max-width: 739px) {
  .profile-photo {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 30px;
  }
}

.align-center {
  align-self: center;
}

.bg-curves {
  background: url(../assets/background/curves.svg) no-repeat center center;
  background-size: cover;
  padding: 160px 0;
}

@media (max-width: 739px) {
  .bg-curves {
    padding: 80px 0;
  }
}

.content-left {
  display: flex;
  justify-content: left;
  padding-right: 70px;
  flex-direction: column;
}

.content-right {
  display: flex;
  justify-content: right;
  margin-left: 100px;
  flex-direction: column;
}

@media (max-width: 739px) {
  .content-right,
  .content-left {
    margin: 0;
  }
  .content-left {
    padding-right: 0;
  }
}

.content-left p,
.content-right p {
  margin-bottom: 20px;
}

.date {
  font-size: 12px;
  margin-top: 8px;
}

/* MENU */
.menu {
  padding: 15px 0;
}

.menu-logo {
  margin: 0 10px;
}

.menu-nav {
  align-self: center;
}

.menu-nav a {
  text-transform: uppercase;
  font-size: 18px;
}

.menu-nav ul {
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.menu-nav ul li a {
  padding: 15px;
  position: relative;
}

.menu-nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #cbac95;
  height: 1px;
}

.menu-nav ul li a::after,
.menu-nav ul li a::before {
  transition: all 0.5s;
}

.menu-nav ul li a:hover:after {
  width: 100%;
}

/* INTRO */
.intro,
.intro-page {
  margin-top: 30px;
}

.intro h1 {
  align-self: center;
  text-align: center;
}

@media (max-width: 739px) {
  .intro img {
    display: none;
  }
}

/* ABOUT */
@media (max-width: 739px) {
  .about div a {
    margin-bottom: 30px;
  }
}
/* PSICO */
@media (max-width: 739px) {
  .psico img {
    display: none;
  }
}

/* QUOTE */
.quote {
  text-align: center;
}

.quote blockquote {
  margin: 0 auto;
}

.quote blockquote p {
  font-style: italic;
  margin-bottom: 10px;
}

.quote blockquote cite {
  font-size: 18px;
  float: right;
}

/* FOOTER */

.footer {
  background-color: #1d454d;
  padding: 30px;
  color: #f8f7f2;
}

.footer ul li {
  margin-bottom: 7px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.sitemap,
.contact,
.social {
  flex-grow: 1;
  padding: 0 10px;
}

.contact {
  border-left: 1px solid rgb(248, 247, 242, 0.25);
  border-right: 1px solid rgb(248, 247, 242, 0.25);
}

.contact h3,
.contact ul li {
  text-align: center;
}

.contact a {
  display: flex;
  margin-bottom: 7px;
  justify-content: center;
}

.contact a img {
  align-self: center;
  margin-left: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
}

.icons a {
  margin: 0 15px 15px 15px;
}

@media (max-width: 739px) {
  .sitemap {
    padding: 0;
    margin: 10px 0 20px 0;
  }

  .footer h3,
  .contact {
    display: none;
  }

  .footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer ul li {
    align-self: center;
    padding: 5px 15px;
  }

  .social {
    height: 28px;
  }

  .icons img {
    max-width: 100%;
  }
}

@media (min-width: 739px) {
  .whatsapp,
  .email {
    display: none;
  }
}

/* COPYRIGHT */

.copyright {
  background-color: #222;
  padding: 20px;
  color: #f8f7f2;
}

.copy-content {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

@media (max-width: 739px) {
  .copyright {
    padding: 10px;
  }
  .copy-content {
    flex-direction: column;
  }
  .copy-content li {
    padding: 5px;
    align-self: center;
  }
}
