/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

/* DEFAULT */

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  background-color: #f8f7f2;
  font-family: "Poppins", sans-serif;
  color: #222;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media (max-width: 739px) {
  h1,
  h2 {
    text-align: center;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

section.container,
section.bg-curves,
.intro,
.intro-page {
  margin-bottom: 60px;
}

.publication hr {
  border: 0.5px solid #cbac95;
  margin-bottom: 20px;
}

.publication:last-child hr:last-child {
  margin-bottom: 0px;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 300px;
  }

  .flex-item {
    flex: 0;
    margin: 0px;
  }
}

.flex-item {
  flex: 1;
  margin: 0 10px;
}

.btn {
  align-self: center;
  text-align: center;
  border: 1px solid #c35e1e;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  background-color: #c35e1e;
  padding: 15px;
  font-size: 18px;
  color: #f8f7f2;
}

.profile-photo {
  max-width: 375px;
  max-height: 375px;
  align-self: center;
}

@media (max-width: 739px) {
  .profile-photo {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 30px;
  }
}

.align-center {
  align-self: center;
}

.bg-curves {
  background: url(../assets/background/curves.svg) no-repeat center center;
  background-size: cover;
  padding: 160px 0;
}

@media (max-width: 739px) {
  .bg-curves {
    padding: 80px 0;
  }
}

.content-left {
  display: flex;
  justify-content: left;
  padding-right: 70px;
  flex-direction: column;
}

.content-right {
  display: flex;
  justify-content: right;
  margin-left: 100px;
  flex-direction: column;
}

@media (max-width: 739px) {
  .content-right,
  .content-left {
    margin: 0;
  }
  .content-left {
    padding-right: 0;
  }
}

.content-left p,
.content-right p {
  margin-bottom: 20px;
}

.date {
  font-size: 12px;
  margin-top: 8px;
}

/* MENU */
.menu-fixed {
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  background: #f8f7f2;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 10px 0;
}

.menu-logo {
  margin: 0 10px;
  transition: 0.4s;
  width: 100%;
  height: 100%;
}

@media (max-width: 739px) {
  .menu-logo {
    width: 70%;
    height: 70%;
  }
  div.menu {
    top: 25px;
  }
}

.menu {
  top: 40px;
  background: #c35e1e;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #c35e1e, 0 0 0 0 #c35e1e;
  cursor: pointer;
  height: 60px;
  position: absolute;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.4s;
  width: 60px;
  z-index: 2;
}
.menu:hover {
  box-shadow: 0 0 0 8px #c35e1e, 0 0 0 8px #c35e1e;
}
.hamburger {
  position: relative;
  top: 29px;
  left: 15px;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
.hamburger:after,
.hamburger:before {
  background: #fff;
  content: "";
  display: block;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}
.hamburger:before {
  top: -10px;
}
.hamburger:after {
  bottom: -10px;
}

input {
  display: none;
}
input:checked ~ label .menu {
  box-shadow: 0 0 0 130vw #cbac95, 0 0 0 130vh #cbac95;
}
input:checked ~ label .hamburger {
  transform: rotate(45deg);
}
input:checked ~ label .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
input:checked ~ label .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
input:checked ~ ul {
  opacity: 1;
  visibility: visible;
}

.menu-list {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 45px;
  opacity: 0;
  transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
  visibility: hidden;
  z-index: 2;
}

.menu-nav ul li {
  padding: 10px;
}

.menu-nav ul li a {
  color: #222;
  display: inline;
  text-decoration: none;
}

.menu-nav ul li a:hover {
  color: #f8f7f2;
}

#menu-header {
  flex-direction: row;
  /* background: blue; */
}

/* INTRO */
.intro,
.intro-page {
  margin-top: 145px;
}

.intro h1 {
  align-self: center;
  text-align: center;
}

@media (max-width: 739px) {
  .intro img {
    display: none;
  }
}

/* ABOUT */
@media (max-width: 739px) {
  .about div a {
    margin-bottom: 30px;
  }
}
/* PSICO */
@media (max-width: 739px) {
  .psico img {
    display: none;
  }
}

/* QUOTE */
.quote {
  text-align: center;
}

.quote blockquote {
  margin: 0 auto;
}

.quote blockquote p {
  font-style: italic;
  margin-bottom: 10px;
}

.quote blockquote cite {
  font-size: 18px;
  float: right;
}

/* FOOTER */

.footer {
  background-color: #1d454d;
  padding: 30px;
  color: #f8f7f2;
}

.footer ul li {
  margin-bottom: 7px;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.sitemap,
.contact,
.social {
  flex-grow: 1;
  padding: 0 10px;
}

.contact {
  border-left: 1px solid rgb(248, 247, 242, 0.25);
  border-right: 1px solid rgb(248, 247, 242, 0.25);
}

.contact h3,
.contact ul li {
  text-align: center;
}

.contact a {
  display: flex;
  margin-bottom: 7px;
  justify-content: center;
}

.contact a img {
  align-self: center;
  margin-left: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
}

.icons a {
  margin: 0 15px 15px 15px;
}

@media (max-width: 739px) {
  .sitemap {
    padding: 0;
    margin: 10px 0 20px 0;
  }

  .footer h3,
  .contact {
    display: none;
  }

  .footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer ul li {
    align-self: center;
    padding: 5px 15px;
  }

  .social {
    height: 28px;
  }

  .icons img {
    max-width: 100%;
  }
}

@media (min-width: 739px) {
  .whatsapp,
  .email {
    display: none;
  }
}

/* COPYRIGHT */

.copyright {
  background-color: #222;
  padding: 20px;
  color: #f8f7f2;
}

.copy-content {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

@media (max-width: 739px) {
  .copyright {
    padding: 10px;
  }
  .copy-content {
    flex-direction: column;
  }
  .copy-content li {
    padding: 5px;
    align-self: center;
  }
}
